
        .bg-img {
            background-image: url("./image/login.jpg");
            background-position:40% 60%;
            background-size: cover;

            /* object-fit: fill; */
        }

        .btn-login {
            border-radius: 40px;
            background-color: #620084;
            color: #FFF;
            text-align: center;
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            width: 429px;
            height: 71px;
        }

